<div class="container">
  <h1>Contacto</h1>

  <div id="texto" #textos>
    <p appResaltado >
      Esta es la pagina de contacto, puedes  enviarnos cualquier duda
    </p>
  </div>
<!--
  <input type="number" [(ngModel)]="widthSlider" />
  <button (click)="cargarSlider()">Cargar Slider</button>
  <button (click)="resetearSlider()">Resetear Slider</button>

  <div *ngIf="anchuraToSlider" >
    
    <app-slider [anchura]="anchuraToSlider"
                [etiquetas]="captions"
                (conseguirAutor)="getAutor($event)"
    ></app-slider>
  </div>

  <span *ngIf="autor">
    {{ autor.nombre +" "+ autor.website }}
  </span>
-->
</div>
