<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a mi metus. Integer leo urna, ultrices vel maximus ut, tincidunt vel massa. Vestibulum congue eros sit amet pellentesque aliquam. Fusce sit amet dui ante. Aliquam id scelerisque elit, in iaculis sem. Proin sodales, ante sit amet commodo placerat, sem velit semper orci, quis convallis ante tortor nec elit. Proin ac est nibh. Nam non nunc sed orci tincidunt efficitur. Vivamus sit amet tempus est. Nullam in imperdiet est, nec pharetra nisi.
  </p>
  <p>
      Praesent vehicula fringilla tellus, ut blandit dolor facilisis quis. Etiam pellentesque purus eget magna auctor rutrum. Nulla vel posuere nibh, at auctor purus. Vivamus quis urna mi. Morbi diam ligula, posuere eu pretium vel, molestie vitae nibh. Pellentesque tempor mauris vel risus viverra pellentesque. Nunc quis volutpat leo. Phasellus at leo eget urna fringilla fermentum. Integer eget finibus magna. Vestibulum purus elit, ultricies sit amet laoreet sit amet, consectetur ac mi. Fusce blandit dignissim tellus, a euismod erat pulvinar non. Phasellus elementum augue vitae ipsum maximus, id faucibus augue auctor. Mauris pulvinar congue ipsum, quis vestibulum mi convallis eu. Vestibulum condimentum enim lorem, eget dignissim nibh semper sit amet.
	</p>
</article>