{{ fecha | date:'dd/MM/yy' }} <br/>
{{ fecha | date:'fullDate'| uppercase }}<br/>
{{ "HOLA MUNDO USANDO PIPES" | lowercase }}
<hr/>

{{ 4 | calculadora: 2 }}
<hr>
<h2>Crear Usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
  <p>
    <label for="name">Nombre: </label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required>
    <span *ngIf="name.touched &&  !name.valid">
      El nombre no es valido
    </span>
  </p>

  <p>
    <label for="job">Trabajo: </label>
    <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required>
    <span *ngIf="job.touched && !job.valid">
      El trabajo no es valido
    </span>
  </p>

  <input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid">
</form>

<div *ngIf="usuario_guardado">
  <h2>El usuario se a agregado correctamente</h2>
  <h3>{{usuario_guardado.id}}</h3>
  <h3>{{usuario_guardado.name}}</h3>
  <h3>{{usuario_guardado.job}}</h3>
</div>

<hr/>
<p>
    <input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()" />
</p>


<div *ngIf="!user">
  Cargando...
</div>

<div *ngIf="user">
  <img src="{{ user.avatar }}" width="200px" />
  <h2>{{user.first_name+' '+user.last_name}}</h2>
</div>

